/* assets/styles.css */
body {
  background-color: white;
  color: #f9f1f1;
  font-family: Arial, sans-serif;
}
.streamlit-expanderHeader {
  color: #333;
}
.stButton>button {
  background-color: #007bff;
  color: white;
}
.stButton>button:hover {
  background-color: #0056b3;
}
.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
